.Services {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ServicesBlocks {
  width: 1700px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.ServicesBlocksText {
  width: 1700px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.ServicesBlocksText div {
  width: 480px;
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.ServicesBlocksText div p:first-child {
  font-family: "Monserat";
  font-size: 28px;
  letter-spacing: -0.03em;
  color: #22356f;
}

.ServicesBlocksText div p:last-child {
  font-family: "Monserat";
  font-size: 26px;
  letter-spacing: -0.03em;
  color: rgba(34, 53, 111, 0.5);
  text-align: left;
}
